# Ignore Build Results
build/*.o
build/*/*.o
bin/*
dirFile

# Ignore Mac Specific Stuff
.DS_STORE

# Ignore Vim Swap files
*.swp

# Ignore Latex stuff
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


