# Ignore Build Results
build/*
build/*
bin/*
dirFile
Tests/russWAMex

# Debug stuff
*.dSYM

# Ignore Mac Specific Stuff
.DS_STORE

# Ignore Vim Swap files
*.swp

# Ignore Latex stuff
*.aux
*.lof
*.log
*.blg
*.bbl
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Prolly shouldn't be any pdfs either
*.pdf

# No need for WAM code either
*.wam

# Or astyle artifacts
*.orig


